node_modules
public/build
public/hot
public/storage
storage/*.key
storage/pail
resources/js/actions
resources/js/routes
resources/js/wayfinder

storage/app/private/qz
database/database.sqlite

bootstrap/cache/*.php

.env
.env.backup
.env.production

.idea/
.vscode/
.nova/
